/*
* {
  border: 1px dashed #3A5FCD;
}
*/

body {
  background-color: #0e1726;
}

#mainDiv {
  /* #7e4499  */
  background-color: #5e3272;
  top: 75px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 650px;
}


#mainCanvas {  
  background-color: #5e3272;  
  height: 650px;
  position: relative;
  text-align: center;
  width: 650px;
}


/*
#ballCanvas {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0px;
  top: 50px;
}
*/
